# **Feature Engineering**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "C:/Users/franc/Documents/Lic. IA/Semestre 4/Machine learning" # Cambiar por la ruta de los datos
df = pd.read_csv(path + '/data/chess_games_clean.csv')
df.head()

,Event,White,Black,Result,UTCDate,UTCTime,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Opening,TimeControl,Termination,AN
0,Classical,eisaaaa,HAMID449,1-0,2016.06.30,22:00:01,1901,1896,11,-11,D10,Slav Defense,300+5,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,go4jas,Sergei1973,0-1,2016.06.30,22:00:01,1641,1627,-11,12,C20,King's Pawn Opening: 2.b3,300+0,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,Evangelistaizac,kafune,1-0,2016.06.30,22:00:02,1647,1688,13,-13,B01,Scandinavian Defense: Mieses-Kotroc Variation,180+0,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,Correspondence,Jvayne,Wsjvayne,1-0,2016.06.30,22:00:02,1706,1317,27,-25,A00,Van't Kruijs Opening,-,Normal,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,Blitz tournament,kyoday,BrettDale,0-1,2016.06.30,22:00:02,1945,1900,-14,13,B90,"Sicilian Defense: Najdorf, Lipnitsky Attack",180+0,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...

## Tratamiento columna Result

In [3]:
df["Result"].value_counts()

Result
1-0        3111715
0-1        2901038
1/2-1/2     238763
Name: count, dtype: int64

Se cambiarán los valores de la columna result por valores numéricos de la siguiente manera:  
|Antes | Después|
|------|--------|
|'1-0' | 1 |
|'0-1' | 0 |
|'1/2-1/2' | 2 |

In [4]:
# Mapear los resultados a valores numéricos
result_mapping = {'1-0': 1, '0-1': 0, '1/2-1/2': 2}
df['Result'] = df['Result'].map(result_mapping) 
df["Result"].head()

0    1
1    0
2    1
3    1
4    0
Name: Result, dtype: int64

## Tratamiento columna "UTCTime"

In [5]:
# Convertir la columna "UTCTime" a tipo datetime
df["UTCTime"] = pd.to_datetime(df["UTCTime"], format="%H:%M:%S")

# Crear columnas para la hora y el minuto
df["Hour"] = df["UTCTime"].dt.hour

# Eliminar la columna "UTCTime"
df = df.drop(columns=["UTCTime"])

# Reordenar las columnas
df = df[['Event', 'White', 'Black', 'Result', 'UTCDate', 'Hour','WhiteElo', 'BlackElo', 'WhiteRatingDiff', 'BlackRatingDiff', 'ECO', 'Opening', 'TimeControl', 'Termination', 'AN']]

df.head()

,Event,White,Black,Result,UTCDate,Hour,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Opening,TimeControl,Termination,AN
0,Classical,eisaaaa,HAMID449,1,2016.06.30,22,1901,1896,11,-11,D10,Slav Defense,300+5,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,go4jas,Sergei1973,0,2016.06.30,22,1641,1627,-11,12,C20,King's Pawn Opening: 2.b3,300+0,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,Evangelistaizac,kafune,1,2016.06.30,22,1647,1688,13,-13,B01,Scandinavian Defense: Mieses-Kotroc Variation,180+0,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,Correspondence,Jvayne,Wsjvayne,1,2016.06.30,22,1706,1317,27,-25,A00,Van't Kruijs Opening,-,Normal,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,Blitz tournament,kyoday,BrettDale,0,2016.06.30,22,1945,1900,-14,13,B90,"Sicilian Defense: Najdorf, Lipnitsky Attack",180+0,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...

## Eliminando columna "UTCDate", "ECO", "WhiteRatingDiff" y "BlackRatingDiff"

Cómo el dataset se obtuvo sólo de las partidas jugadas en el mes de Junio, entonces no me es muy relevante el día en cuanto a que afectara a los resultados de las partidas así que se eliminará del dataset.  
También, las columnas "ECO" y "Opening" hablan ambas del tipo de apertura en la partida, pero "Opening" da más información, así que se eliminará la columna "ECO".  
Las columnas "WhiteRatingDiff" y "BlackRatingDiff" dan los puntos que se sumaron o restaron al elo de cada uno, por lo que sería un spoiler para el dataset al hacer la regresión, y cómo este ejercicio es sólo didáctico, no importará si se eliminan para entrenar el modelo,

In [6]:
df = df.drop(columns=["UTCDate", "ECO", "WhiteRatingDiff", "BlackRatingDiff"])
df.sample()

,Event,White,Black,Result,Hour,WhiteElo,BlackElo,Opening,TimeControl,Termination,AN
678071,Blitz,AlisherVomila,mikorin,1,11,1563,1605,Center Game,300+0,Normal,1. e4 e5 2. d4 exd4 3. Qxd4 Nf6 4. Nc3 Nc6 5. ...

## Frequency Encoding para columnas con muchas categorías

In [7]:
columnas_cat = []
for col in df.columns:
    if df[col].dtype == object:
        if df[col].nunique() > 10:
            print(f"{col} : {df[col].nunique()}")
            columnas_cat.append(col)
print(columnas_cat)

White : 118502
Black : 115415
Opening : 2941
TimeControl : 841
AN : 6184814
['White', 'Black', 'Opening', 'TimeControl', 'AN']

In [8]:
columnas_cat.remove("AN")
print(columnas_cat)

['White', 'Black', 'Opening', 'TimeControl']

In [9]:
for column in columnas_cat:
    freq_encoding = df[column].value_counts().to_dict()
    df[column] = df[column].map(freq_encoding)
df.head()

,Event,White,Black,Result,Hour,WhiteElo,BlackElo,Opening,TimeControl,Termination,AN
0,Classical,54,52,1,22,1901,1896,10695,105090,Time forfeit,1. d4 d5 2. c4 c6 3. e3 a6 4. Nf3 e5 5. cxd5 e...
1,Blitz,27,4,0,22,1641,1627,4157,1074584,Normal,1. e4 e5 2. b3 Nf6 3. Bb2 Nc6 4. Nf3 d6 5. d3 ...
2,Blitz tournament,18,133,1,22,1647,1688,112174,948246,Time forfeit,1. e4 d5 2. exd5 Qxd5 3. Nf3 Bg4 4. Be2 Nf6 5....
3,Correspondence,10,10,1,22,1706,1317,133036,22211,Normal,1. e3 Nf6 2. Bc4 d6 3. e4 e6 4. Nf3 Nxe4 5. Nd...
4,Blitz tournament,31,175,0,22,1945,1900,3787,948246,Time forfeit,1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...

## Balanceando las clases de la columna "Result"

In [10]:
# Revisando el balance de clases
print(df["Result"].value_counts()/len(df) * 100)
print(df["Result"].value_counts())

Result
1    49.775366
0    46.405352
2     3.819282
Name: count, dtype: float64
Result
1    3111715
0    2901038
2     238763
Name: count, dtype: int64

Como las clases están desbalanceadas y la columna "Result" será la variable a predecir en los modelos de clasificación, se guardará un dataset con clases balanceadas. Esto también para reducir la dimensión del dataset, ya que previamente se llevaron acabo pruebas con modelos y el dataset era demasiado grande, por lo que no se entrenaba o se detenía al no soportar la dimensión del dataset.  
Cabe aclarar que este es un proyecto puramente didáctico por lo que se puede hacer esto con el dataset, ya que el objetivo es aprender a usar lo diferentes modelos de la librería scikitlearn.  
La columna "AN" donde se guardan las partidas en formato texto, se tokenizarán para probar nuevas técnicas de clasificación.

In [11]:
# Seleccionar solo un subconjunto de datos para el desbalance de clases
df1 = df[df["Result"] == 2]

#Tomar una muestra de 1000 datos
df2 = df[df["Result"] == 0].sample(len(df1))
df3 = df[df["Result"] == 1].sample(len(df1))
                                   
df4 = pd.concat([df1, df2, df3])

#reindexar el dataframe
df = df4.reset_index(drop=True)

## Tratamiento columna AN

La columna "AN" tiene todas las jugadas del partida en formato string. Se realizarán varios métodos de limpieza y transformación a esta columna para que pueda ser utilizable.  
Primero se eliminarán los últimos resultados ya que al final se agrega el resultado de la partida y es precisamente esto lo que queremos predecir. Este es un ejercicio didáctico y lo que se quiere es crear un modelo que prediga el resultado de la partida dependiendo de las demás variables en el dataset.   
Existen algunos comentarios entre llaves propios de la escritura de las partidas de ajedrez, estos comentarios se eliminarán de la partida.  
Después de estas transformaciónes algunos datos quedan como NAN y se remplazarán por cadenas vacías.  
Se convierte cada string en la columna "AN" en una secuencia de tokens utilizando la clase Tokenizer de Keras. Cada token generalmente representa una palabra.  
Para que todas las secuencias tengan la misma longitud (necesario para muchos modelos de aprendizaje automático), se añaden ceros al final de las secuencias más cortas hasta que todas tengan la misma longitud que la secuencia más larga.
El DataFrame de secuencias paddeadas se concatena con el DataFrame original df, añadiendo las secuencias como nuevas columnas.
Finalmente, se asegura que todos los nombres de las columnas sean strings. Esto puede ser útil para evitar errores al referenciar columnas por su nombre más adelante.

In [12]:
#aplicar la función anterior a toda la columna AN
df["AN"] = df["AN"].apply(lambda x: " ".join(x.split(" ")[:-1]))
df["AN"].sample()

#Eliminar el contenido que este entre llaves {} de la columna AN
df["AN"] = df["AN"].str.replace(r"\{.*\}", "", regex=True)
df["AN"].sample(20)

441075                                               1. e4
592062    1. e4 g6 2. Nf3 Bg7 3. d4 e6 4. Nc3 Ne7 5. e5 ...
472631    1. g3 b6 2. Bg2 Nc6 3. b3 Bb7 4. Bb2 e6 5. Nc3...
652957    1. d4 d5 2. e3 Nc6 3. Nf3 e6 4. a3 Bd6 5. g3 N...
322909    1. e4 e5 2. Nf3 Nc6 3. Bb5 Nf6 4. O-O d6 5. Re...
220710    1. d4 d5 2. c4 e6 3. Nc3 Nf6 4. e3 a6 5. Nf3 d...
315996    1. d4 d5 2. Nf3 h6 3. g3 Bg4 4. Bg2 Nf6 5. c3 ...
399153    1. d4 d5 2. c4 c6 3. Nf3 e6 4. Bg5 f6 5. Bd2 N...
486235    1. e4 c5 2. Nf3 d6 3. d4 cxd4 4. Nxd4 Nf6 5. N...
683530    1. e4 c6 2. Nf3 b5 3. d4 Bb7 4. Bd3 e6 5. Bf4 ...
288277    1. h4 e5 2. d3 Be7 3. Nc3 Bxh4 4. g3 Bf6 5. f4...
89762     1. e4 e6 2. Nf3 c5 3. d4 Nf6 4. e5 Ne4 5. dxc5...
419963                                               1. e4
639455    1. e4 g6 2. d3 Bg7 3. Nf3 d6 4. d4 Nf6 5. Bg5 ...
576265    1. e4 e5 2. d3 Nf6 3. Be2 Nc6 4. Nf3 b5 5. Nc3...
3731      1. e4 e5 2. Nf3 Nc6 3. Bb5 Nf6 4. O-O d6 5. Nc...
204127    1. e4 e6 2. d4 d5 3. e5 c5 4. c3 Nc6 5. Nf3 Qb...
630998    1. d4 e5 2. e3 exd4 3. exd4 Nc6 4. Bd3 d5 5. c...
324099    1. d4 c5 2. d5 Nf6 3. c4 e5 4. Nc3 d6 5. f4 Be...
232186                                               1. e4
Name: AN, dtype: object

In [13]:
# Reemplazar los valores faltantes por un string vacío
df['AN'] = df['AN'].fillna('')

In [14]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# Tokenizar los movimientos
tokenizer = Tokenizer()
tokenizer.fit_on_texts(df['AN'])
sequences = tokenizer.texts_to_sequences(df['AN'])

# Padding de secuencias
max_sequence_length = max([len(seq) for seq in sequences])
padded_sequences = pad_sequences(sequences, maxlen=max_sequence_length)

# Convertir las secuencias paddeadas a un DataFrame
padded_sequences_df = pd.DataFrame(padded_sequences, index=df.index)

# Combinar las secuencias paddeadas con las demás columnas del DataFrame original
df = pd.concat([df, padded_sequences_df], axis=1)

df.columns = df.columns.astype(str)

## Tratamiento columnas "Termination" y "Event"

Las columnas "Termination" y "Event" se convertirán de variables categóricas a numéricas.

In [15]:
# label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["Termination"] = le.fit_transform(df["Termination"])
df["Event"] = le.fit_transform(df["Event"])
df.head()

,Event,White,Black,Result,Hour,WhiteElo,BlackElo,Opening,TimeControl,Termination,...,862,863,864,865,866,867,868,869,870,871
0,1,123,62,2,22,1512,1570,28072,1074584,1,...,163,328,75,137,82,77,163,328,81,137
1,1,457,66,2,22,1465,1436,595,1074584,1,...,270,459,110,459,310,116,738,167,128,99
2,0,44,216,2,22,1665,1765,34752,1074584,1,...,94,182,320,648,179,350,168,173,376,682
3,2,35,1377,2,22,1595,1673,11136,47338,1,...,333,81,105,279,84,101,333,88,105,279
4,4,44,187,2,22,1511,1621,48705,105090,1,...,476,81,241,90,84,191,359,88,241,451

In [16]:
# guardar el dataset limpio
df.to_csv(path + '/data/chess_games_clean2.csv', index=False)